logs/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/es_server/src/main/resources/database/songsData2.csv

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store