
* {
  -fx-default-button: peachpuff;
  }

.sidebar-btn {
  -fx-background-color: none;
}

.sidebar-btn:hover {
  -fx-background-color: peachpuff;
}

.border-error {
  -fx-background-color: #B22222, #FFB6C1;
  -fx-background-insets: 0, 0 0 1 0;
}

.border-error:focused {
  -fx-background-color: #B22222, white;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.table-column {
  -fx-alignment: CENTER-LEFT;
}

.toolbar {
    TOP-COLOR: ladder(
            -fx-base,
            derive(-fx-base,0%) 0%,
            derive(-fx-base,46%) 100%
        );
    -fx-background-color:
        linear-gradient(to bottom, derive(TOP-COLOR,25%) 0%, -fx-outer-border 90%),
        linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%);
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}

